services:
  backend:
    build:
      context: .
      dockerfile: dockerfile
    depends_on:
      - basedatos
    environment:
      DB_URL: ${DB_URL}
      SECRETE_KEY: ${SECRETE_KEY}
      ALGORITHM: ${ALGORITHM}
    ports:
      - "5000:5000"
    command: ["python", "main.py"]

  basedatos:
    image: postgres:13
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
